html {
  height: 100%;
  width: 100%;
}

h1 {
  color: #26d9c4;
}


  



body {

  background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXZraDNtcTZjYXlzNm96Z3V4ZnV1enFjMW5wMDJkOGppd3hkMHNmbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/oOmpCMpH3DOuu6sbnl/giphy.gif");

}